{#
/**
 * @file
 * Theme override for a menu block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: HTML attributes for the containing element.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: HTML attributes for the title element.
 * - content_attributes: HTML attributes for the content element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * Headings should be used on navigation menus that consistently appear on
 * multiple pages. When this menu block's label is configured to not be
 * displayed, it is automatically made invisible using the 'visually-hidden' CSS
 * class, which still keeps it visible for screen-readers and assistive
 * technology. Headings allow screen-reader and keyboard only users to navigate
 * to or skip the links.
 * See http://juicystudio.com/article/screen-readers-display-none.php and
 * http://www.w3.org/TR/WCAG-TECHS/H42.html for more information.
 */
#}

<div class="max-w-6xl px-8 mx-auto">
	<nav class="mb-8 mt-16 border-b-2 border-divider pb-8">

		<div class="md:flex">
			<div class="md:w-1/4">
				<h4 class="text-lg mb-4 font-bold">{{ 'Contact us'|t }}</h4>
				<div class="flex mb-6">
					<svg xmlns="http://www.w3.org/2000/svg" class="text-primary w-5 h-5" viewbox="0 0 20 20" fill="currentColor">
						<path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"/>
					</svg>

					<div class="ltr:ml-4 rtl:mr-4">
						<span class="font-bold block">Call Us</span>
						<span>+2 342 5446 67</span>
					</div>
				</div>
				<div class="flex mb-6">
					<svg xmlns="http://www.w3.org/2000/svg" class="text-primary w-5 h-5" viewbox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z" clip-rule="evenodd"/>
					</svg>

					<div class="ltr:ml-4 rtl:mr-4">
						<span class="font-bold block">Business hours</span>
						<span>Mon - Fri 8 AM - 5 PM</span>
					</div>
				</div>

				<div class="flex mb-6">
					<svg xmlns="http://www.w3.org/2000/svg" class="text-primary w-5 h-5" viewbox="0 0 20 20" fill="currentColor">
						<path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"/>
					</svg>

					<div class="ltr:ml-4 rtl:mr-4">
						<span class="font-bold block">Location</span>
						<span>Franklin St, Greenpoint Ave</span>
					</div>
				</div>
			</div>

			<div class="md:w-1/4">
				<h4 class="text-lg mb-4 font-bold">{{ 'Quick Links'|t }}</h4>

				{# Menu. #}
				{% block content %}
					{{ content }}
				{% endblock %}
			</div>


			<div class="md:w-2/4">
				<h4 class="text-lg mb-4 font-bold">{{ 'Latest news'|t }}</h4>

				{{ drupal_view('articles', 'block_1') }}
			</div>
		</div>
	</nav>

	<div class="mb-8">
		<span>{{ "© Copyrights @date My Tico All rights reserved"|t({ '@date': "now"|date("Y") }) }}</span>
	</div>
</div>
